.app-sidenav-container {
  flex: 1;
  position: fixed;
  width: 80%;
  min-width: 100%;
  height: 100%;
  min-height: 100%;
}

.app-sidenav-content {
  display: flex;
  height: 100%;
  flex-direction: column;
  /* align-items: center;
    justify-content: center; */
}

.app-sidenav {
  /* padding: 20px; */
  /* width: 20% */
  width: auto;
}

.mat-list .mat-list-item, .mat-list .mat-list-option, .mat-nav-list .mat-list-item, .mat-nav-list .mat-list-option, .mat-selection-list .mat-list-item, .mat-selection-list .mat-list-option {
  display: block;
  height: 100%;
}

mat-icon{
    font-size: 30px;
    height: 56px;
    width: 56px;
    line-height: 56px;
    color: white;
}
