<mat-drawer-container class="app-sidenav-container" autosize>
  <mat-drawer #drawer class="app-sidenav mat-elevation-z10" mode="side" opened="true">
    <mat-toolbar color="primary">Slack</mat-toolbar>
    <mat-list role="list">
      <mat-list-item role="listitem">
        <app-circle></app-circle>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item role="listitem">
        <app-user></app-user>
      </mat-list-item>
      <mat-divider></mat-divider>
    </mat-list>
  </mat-drawer>

  <div class="app-sidenav-content">
    <mat-toolbar color="">
      <button type="button" mat-button (click)="drawer.toggle()">
        
      </button>
      <div class="row" style="width:100%">
        <div class="col-md-4 mr-auto p-2">{{loggedInUser}}</div>
        <div class="col-md-4 ml-auto p-2">
          <a routerLink="/signin" (click)="logOutUser()" class="float-md-right">SignOut</a>
        </div>
      </div>



    </mat-toolbar>
    <app-message></app-message>
  </div>

</mat-drawer-container>