<h1 mat-dialog-title>Add Circle</h1>
<div mat-dialog-content>
  <p>Circle Name</p>
  <mat-form-field>
    <input matInput [(ngModel)]="data.circleName" cdkFocusInitial>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button class="btn btn-success" [mat-dialog-close]="data.circleName">Add</button>
  <!-- <button mat-button [mat-dialog-close]="data.animal" cdkFocusInitial>Add</button> -->
</div>
