.makeMeBold {
  font-weight: bold;
}

.unsubcircle:hover {
  color: tomato;
}

.unsubcircle {
  height: 20px;
  width: 20px;
  float: right;
}

.unsubcirclediv {
  text-align: right;
}

.c-button-unstyled {
  background: none;
  border: 0;
  color: inherit;
  font: inherit;
  margin: 0;
  line-height: inherit;
  overflow: initial;
  padding: 0;
  text-align: right;
  vertical-align: initial;
  cursor: pointer;
}

.p-channel_sidebar__section_heading_plus:before {
  
  font-size: 20px;
  font-style: normal;
  font-weight: normal;
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  opacity: 0.64;
  line-height: 1;
  /* content: "\f055"; */
  transition: opacity 0.1s ease-out;
  }

  .p-channel_sidebar__section_heading_plus:hover{
    color: rgb(75, 184, 75);
  }