<div class="d-flex justify-content-end">
    <div class="mr-auto">
        <strong style="font-size: 1.25rem">Circles</strong>
    </div>
    <div class="p-2">
        <!-- <button mat-raised-button (click)="openAddCircleDialog()">
            <i class="fas fa-plus-circle"></i>
        </button> -->
        <button class="c-button-unstyled p-channel_sidebar__section_heading_plus" 
            (click)="openAddCircleDialog()" 
            matTooltip="Add a circle!">
            <i class="fas fa-plus-circle"></i>
        </button>
    </div>
    <div class="p-2">
        <!-- <button mat-raised-button (click)="openSubscribeCircleDialog()"> -->
            <!-- <i class="fas fa-plus-circle"></i> -->
            <!-- Subscribe Circle -->
        <!-- </button> -->
        <button class="c-button-unstyled p-channel_sidebar__section_heading_plus" 
            (click)="openSubscribeCircleDialog()" 
            matTooltip="Scubscribe a circle!">
            <strong>SB</strong>
        </button>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="row" *ngFor="let circle of circles" [ngClass]="{ makeMeBold: circle == this.sharedService.userOrCircleName } ">
            <div class="col-md-8">
                <p (click)="getMessage(circle)">
                    {{circle}}
                </p>
            </div>
            
            <div class="col-md-4 unsubcirclediv">
                <p (click)="unSubscribeCircle(circle)" class="unsubcircle" matTooltip="Unscubscribe {{circle}}">
                    <i class="fas fa-minus-circle"></i>
                </p>

            </div>
        </div>
    </div>
</div>