<form>
<h1 mat-dialog-title>Subscribe Circle</h1>
<div mat-dialog-content>
  <p>Circle Name</p>
  <mat-form-field>
      <mat-select placeholder="Select Circle" [(ngModel)]="selectedCircle" name="circle">
        <mat-option *ngFor="let circle of circles" [value]="circle.value">
          {{ circle.viewValue }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <p> Selected value: {{selectedCircle}} </p>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button class="btn btn-success" [mat-dialog-close]="selectedCircle">Add</button>
  <!-- <button mat-button [mat-dialog-close]="data.animal" cdkFocusInitial>Add</button> -->
</div>
</form>
