<div class="row">
  <div class="col-sm-8 col-md-4 col-xs-8 offset-md-4">
    <form class="form-group" (ngSubmit)="onSignup(f)" #f="ngForm">
      <h3>Sign up</h3>
      <div class="form-group">
        <label for="username">User Name</label>
        <input type="text" name="username" id="username" class="form-control" required="required" ngModel>
      </div>
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" name="name" id="name" class="form-control" required="required" ngModel>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" name="password" id="password" class="form-control" required ngModel>
      </div>
      <button class="btn btn-success form-control" type="submit">Sign Up</button>
      <p>Already have an account! Sign in <a routerLink ="/signin">here</a></p>
    </form>
  </div>
</div>