.c_sidebar{
    background-color: #4d394b;
    border-color:black;
    color: rgb(184,176,183);
    padding-left: 25px;
    
}
.c_main{
    /* background-color: rgb(220, 220, 220); */
    /* background-color: #fff; */
    background-color: #e6ecec;
    padding-left: 25px;
   
}

/* #container {
    width: 100%;
    max-width: 700px;
    margin: 2em auto;
} */

.row.c_header{
    height: 10%;
    /* width: 1000px; */
    background-color: #e6ecec;
}
.row.c_message{
    height: 80%;
    /* width: 1000px; */
    background-color: #e6ecec;
}
.row.c_send{
    height: 10%;
    /* width: 1000px; */
    background-color: #e6ecec;
}

