<div style="height: 100%; min-height: 60%">
    <div class="row c_header">
        <div class="col-md-12">
            <p>
                <strong>Send message to: {{receiverName}}</strong>
            </p>
        </div>
    </div>
    <div class="row c_message">
        <div class="col-md-12">
            <div class="messageBody" *ngFor="let msg of messageContentToShow.reverse()">
                <div class="row">
                    <div class="col-md-8">
                        <p>
                            <strong>{{msg.senderName}}: </strong>
                            {{msg.message}}
                        </p>
                    </div>
                    
                    <div class="col-md-4">
                        <span style="color: red; font-size: 0.75em;">
                            {{msg.postedDate | date:'dd-MMM-yyyy HH:mm'}}
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row c_send">
        <div class="col-md-11">
            <form class="send-msg">
                <mat-form-field class="message-text-box">
                    <input matInput placeholder="Send Message" [(ngModel)]="message" name="txtMessage" id="txtMessage">
                </mat-form-field>
            </form>
        </div>
        <div class="col-md-1">
            <Button (click)="onSend()" class="btn btn-light">
                <i class="material-icons md-dark">send</i>
            </Button>
        </div>
    </div>
</div>
