<div class="d-flex justify-content-end">
    <div class="mr-auto">
        <strong style="font-size: 1.25rem">Users</strong>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <p *ngFor="let user of usersList" [ngClass]="{ makeMeBold: user == this.sharedService.userOrCircleName } " (click)="getMessage(user)">
                {{user}}
        </p>
    </div>
</div>