/* You can add global styles to this file, and also import other style files */
/* html, body {
    margin: 0;
    height: 100%;
} */

@import '~@angular/material/prebuilt-themes/indigo-pink.css';

body{
    margin: 0;
}
