<div class="row">
  <div class="col-sm-8 col-md-4 col-xs-8 offset-md-4">
    <form class="form-group" (ngSubmit)="onSignin(f)" #f="ngForm">
      <h3>Sign in</h3>
      <div class="form-group">
        <label for="username">User Name</label>
        <input type="text" name="username" id="username" class="form-control" required="required" ngModel>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" name="password" id="password" class="form-control" required ngModel>
      </div>
      <button class="btn btn-success form-control" type="submit">Sign In</button>
      <p>Don't have an account! Sign up with us
        <a routerLink="/signup">here</a>
      </p>
    </form>
  </div>
</div>