/* .form-group{
    margin-top: 30%;
}

.form-group input[type="email"] {
    width: 40%;
}

.form-group input[type="password"] {
    width: 40%;
}

.form-group button {
    position: relative;
}

.signin-text-box {
    width: 100%;
    min-width: 100%;
} */